apiVersion: apps/v1
kind: Deployment
metadata:
 name: back-deployment-prod
 namespace: bsj-dev
spec:
 selector:
   matchLabels:
    type: back
 replicas: 1
 template:
   metadata:
     labels:
       type: back
   spec:
    containers:
    - name: container
      image: santhaim:back:latest
      envFrom:
      - configMapRef:
          name: back-cm-prod
      ports:
      - containerPort: 8000